name: Build TWRP (RE5C6CL1)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout device tree
      uses: actions/checkout@v4

    - name: Cleanup before build
       run: |
         sudo rm -rf /tmp/*
         export USE_CCACHE=1
         export CCACHE_DIR=/tmp/ccache
         ccache -M 5G

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          git-core gnupg flex bison build-essential zip curl \
          zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 \
          lib32ncurses5-dev x11proto-core-dev libx11-dev \
          lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc \
          unzip fontconfig python3 bc ccache libssl-dev

    - name: Setup repo tool
      run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod +x ~/bin/repo
        echo "$HOME/bin" >> $GITHUB_PATH

    - name: Sync TWRP source (A14)
      run: |
        mkdir twrp
        cd twrp
        repo init -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp.git -b twrp-14.1
        repo sync -j4 --force-sync --no-tags --no-clone-bundle

    - name: Copy device tree
      run: |
        cp -r device twrp/

    - name: Build vendor_boot image
      run: |
        cd twrp
        source build/envsetup.sh
        lunch twrp_RE5C6CL1-eng
        mka vendorbootimage

    - name: Upload vendor_boot.img
      uses: actions/upload-artifact@v4
      with:
        name: vendor_boot_RE5C6CL1
        path: twrp/out/target/product/RE5C6CL1/vendor_boot.img
